<ng-container *ngIf="modal_type == 'card'">

  <div class="fv-row mb-10" style="margin-top: 20px;">
    <div class="row fv-row mb-7">
      <app-notification [type]="type" [message]="message" [title]="title"></app-notification>
    </div>
  </div>

  <div class="flex justify-content-end" style="margin-bottom: 10px; width: 100%; display: flex; justify-content: end;">
    <a style="width: 150px;" (click)="onCloseModal()"><i class="fa fa-times fs-2 me-2"></i></a>
  </div>

  <!--begin::Row-->
  <div class="row">
    <!--begin::Col-->

    <div class="col-lg-12">
      <!--begin::Heading-->
      <h3 class="mb-2"></h3>
      <p class="fs-6 text-gray-600 fw-bold mb-6 mb-lg-15">
        Ensure payment confirmation completes before closing page
      </p>
      <!--end::Heading-->
      <!--begin::Info-->
      <div class="col-lg-6">
        <div class="fs-5 mb-2">
          <!--begin::Input group-->
          <div class="d-flex flex-column mb-7 fv-row">
            <!--begin::Label-->
            <label class="d-flex align-items-center fs-6 fw-bold form-label mb-2">
              <span class="required">Enter Amount</span>
            </label>
            <!--end::Label-->
            <input type="number" class="form-control form-control-solid" placeholder=""
                   [(ngModel)]="fund_account_query.amount"
                   name="card_name"/>
          </div>
          <span class="text-gray-800 fw-bolder me-1"></span>
          <span class="text-gray-600 fw-bold"></span>
        </div>
      </div>
      <!--end::Info-->
      <!--begin::Notice-->
      <div class="fs-6 text-gray-600 fw-bold"></div>
      <!--end::Notice-->
    </div>
    <!--end::Col-->

    <!--begin::Col-->
    <div class="col-lg-5">

      <!--begin::Action-->
      <div class="d-flex justify-content-end pb-0 px-0">

        <ng-container *ngIf="fund_loader">
          <button class="btn btn-active-light me-3">Please wait <i class="fa fa-spin fa-spinner"></i></button>
        </ng-container>


        <ng-container *ngIf="!fund_loader && fund_account_query.amount">

          <div style="display: flex; margin-left: 20px; width: 100%;">

            <button (click)="onFlutterMakePayment()" class="btn btn-success">
              Pay with Flutterwave
            </button>

            <span style="margin-right: 10px; margin-left: 10px;">OR</span>

            <button class="btn btn-primary"
                    (click)="onPayWithMonnify()"
            >
              Pay with Monnify
            </button>
          </div>

        </ng-container>

      </div>
      <!--end::Action-->
    </div>
    <!--end::Col-->

  </div>
  <!--end::Row-->

</ng-container>


<ng-container *ngIf="modal_type == 'saved_card'">

  <div class="fv-row mb-10" style="margin-top: 20px;">
    <div class="row fv-row mb-7">
      <app-notification [type]="type" [message]="message" [title]="title"></app-notification>
    </div>
  </div>


  <div class="flex justify-content-end" style="margin-bottom: 10px; width: 100%; display: flex; justify-content: end;">
    <a style="width: 150px;" (click)="onCloseModal()"><i class="fa fa-times fs-2 me-2"></i></a>
  </div>

  <!--begin::Row-->
  <div class="row">
    <!--begin::Col-->


    <div class="col-lg-12">
      <!--begin::Col-->
      <div class="col-xl-6">
        <!--begin::Card-->
        <div class="card card-dashed h-xl-100 flex-row flex-stack flex-wrap p-6  border-primary">
          <!--begin::Info-->
          <div class="d-flex flex-column py-2">
            <!--begin::Wrapper-->
            <div class="d-flex align-items-center">

              <div>

                <div style="width: 100%; display: flex; justify-content: end">
                  <span class="badge badge-light-info">{{card_info?.card_vendor || ''}} </span>
                </div>

                <div class="fs-4 fw-bolder">{{card_info?.issuer}} {{card_info?.first_6digits}}
                  **** {{card_info?.last_4digits}}</div>
                <div class="fs-6 fw-bold text-gray-400">Card expires at {{card_info?.expiry}}</div>
              </div>
              <!--end::Details-->
            </div>
            <!--end::Wrapper-->
          </div>
          <!--end::Info-->

        </div>
        <!--end::Card-->
      </div>
      <!--end::Col-->
    </div>


    <div class="col-lg-7">
      <!--begin::Heading-->
      <h3 class="mb-2"></h3>
      <p class="fs-6 text-gray-600 fw-bold mb-6 mb-lg-15">
        Ensure payment confirmation completes before closing page
      </p>
      <!--end::Heading-->
      <!--begin::Info-->
      <div class="fs-5 mb-2">
        <!--begin::Input group-->
        <div class="d-flex flex-column mb-7 fv-row">
          <!--begin::Label-->
          <label class="d-flex align-items-center fs-6 fw-bold form-label mb-2">
            <span class="required">Enter Amount</span>
          </label>
          <!--end::Label-->
          <input type="number" class="form-control form-control-solid" placeholder=""
                 [(ngModel)]="fund_account_query.amount"
                 name="card_name"/>
        </div>
        <span class="text-gray-800 fw-bolder me-1"></span>
        <span class="text-gray-600 fw-bold"></span>
      </div>
      <!--end::Info-->
      <!--begin::Notice-->
      <div class="fs-6 text-gray-600 fw-bold"></div>
      <!--end::Notice-->
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-lg-5">


      <!--end::Action-->
    </div>
    <!--end::Col-->

    <!--begin::Action-->
    <div class="d-flex justify-content-end pb-0 px-0">

      <button class="btn btn-primary me-3" [disabled]="fund_loader" (click)="fundSavedCard()">
        {{fund_loader ? 'Please wait' : 'Fund Wallet'}} <i class="fa fa-spin fa-spinner" *ngIf="fund_loader"></i>
      </button>

    </div>
  </div>
  <!--end::Row-->

</ng-container>

